<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH"></forms>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <membership defaultProvider="OracleMembershipProvider">
      <providers>
        <clear/>
        <add name="OracleMembershipProvider"
          type="Oracle.Web.Security.OracleMembershipProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
          connectionStringName="OraAspNetConString" applicationName="" enablePasswordRetrieval="false" enablePasswordReset="true"
          requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"
          minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10" passwordStrengthRegularExpression=""/>
      </providers>
    </membership>
    <profile enabled="true" defaultProvider="OracleProfileProvider">
      <providers>
        <clear/>
        <add name="OracleProfileProvider"
          type="Oracle.Web.Profile.OracleProfileProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
          connectionStringName="OraAspNetConString" applicationName=""/>
      </providers>
    </profile>
    <roleManager enabled="true" defaultProvider="OracleRoleProvider">
      <providers>
        <clear/>
        <add name="OracleRoleProvider"
          type="Oracle.Web.Security.OracleRoleProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
          connectionStringName="OraAspNetConString" applicationName=""/>
      </providers>
    </roleManager>
    <siteMap enabled="true" defaultProvider="OracleSiteMapProvider">
      <providers>
        <clear/>
        <add name="OracleSiteMapProvider"
          type="Oracle.Web.SiteMap.OracleSiteMapProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
          connectionStringName="OraAspNetConString" applicationName="" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>
    <webParts>
      <personalization defaultProvider="OraclePersonalizationProvider">
        <providers>
          <clear/>
          <add name="OraclePersonalizationProvider"
            type="Oracle.Web.Personalization.OraclePersonalizationProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
            connectionStringName="OraAspNetConString" applicationName=""/>
        </providers>
      </personalization>
    </webParts>
    <healthMonitoring enabled="true">
      <providers>
        <add name="OracleWebEventProvider"
          type="Oracle.Web.Management.OracleWebEventProvider, Oracle.Web, Version=4.121.2.1, Culture=neutral, PublicKeyToken=89b483f429c47342"
          connectionStringName="OraAspNetConString" buffer="true" bufferMode="OracleNotification"/>
      </providers>
    </healthMonitoring>
    <!--
    <sessionState mode="Custom" customProvider="OracleSessionStateStore">
      <providers>
        <clear/>
        <add name="OracleSessionStateStore"
          type="Oracle.Web.SessionState.OracleSessionStateStore, Oracle.Web, Version=4.121.2.1, Culture=neutral,PublicKeyToken=89b483f429c47342"
          connectionStringName="OraAspNetConString"/>
      </providers>
    </sessionState>
    -->
  </system.web>
  <appSettings>
    <add key="dbLogin" value="true"/>
    <add key="DEFAULTPAGE" value="Index.aspx"/>

    <add key="LOGINBusinessFunction" value="LOGIN"/>
    <add key="ACTIVEUSERRoleGroup" value="Active Users"/>
    <add key="GISBusinessFunction" value=""/>
  </appSettings>
  <connectionStrings>
    <add name="GenericOracleOleDbConnectionString" connectionString="Provider=OraOLEDB.Oracle;Data Source=water32tdb;User ID=gisappuser;Password=giswater32"/>
    <clear/>
    <!--<add name="OraAspNetConString" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=Water32tdb;User ID=gisappuser;Password=giswater32"/>-->
    <add name="OraAspNetConString" providerName="Oracle.ManagedDataAccess.Client" connectionString="Data Source=Water32tdb;User ID=ciwqsviewonly;Password=ciwqsviewonly"/>
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="Water32tdb" descriptor="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.224.54.110)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ciwqs03))) "/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
</configuration>
